*{
    font-size: 20px;
}

body{
    margin: 40px;
}

/* navigation bar */
nav{
    padding-bottom: 5px;
    border-bottom: 2px solid black;

}

.nav-title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    font-weight: 700;
    font-size: 60px;
    margin: 0;
    margin-left: 50px;
}

span{
    color:darkgoldenrod;
    font-size: 60px;
}

.nav-bar{
    text-align: right;
    margin-right: 20px;
}

.nav-link{
    padding: 20px;
}
.nav-bar li{
    display: inline;
    margin-bottom: 20px;
    padding: 10px;
}

.band-name{
    font-size: 80px;
    text-align: center;
    clear: both;
}

.nav-bar li:nth-child(n+2){
    border-left: 2px solid black;
}

.band-info{
    background-color: antiquewhite;
    padding: 30px;
    border-radius: 10px;
}

/* end of navigation bar styling */

.about-members{
    background-color: rgb(238, 220, 196);
    padding: 10px;
    margin: 20px;
}

p, h1, h2{
    text-align: center;
}

h1{
    font-size: 40px;
}

div{
    align-items: center;
}

.biography{
    float: right;
    padding-right: 100px;
    padding-top: 60px;
}

.banner-pic{
    padding-left: 0;
    text-align: center;
    height: 370px;
}

.top-banner{
    display: block;
    text-align: center;
}

img{
    background-color: rgb(238, 208, 186);
    padding-left: 100px;
    border: 10px solid rgb(255, 255, 255);
}

.round-radius-bottom{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.round-radius-top{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.album-photo{
    float: right;
}

li{
    text-decoration: none;
}

a{
    text-decoration: none;
    color: #000000;
    padding: 0;
}

ol a:hover{
    color: coral;
    font-size: 25px;
}

.more-album{
    text-align: left;
}



